.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.reporters-name {
  width: 30%;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
}

.form-header{
  display: flex;
  align-items: center;
  justify-content: center;
}
.date-of-report {
  width: 15%;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
}

.jobscope-input {
  width: 15%;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-report {
  padding:10px;
  border:none;
  background-color:#3F51B5;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width: auto;
}

.callcarinfo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-register {
  width: 15%;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border: 2px;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  justify-content: center;
  align-content: center;
}

.login-reg-button {
  padding:10px;
  border:none;
  background-color:#3F51B5;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width: auto;
}

.car-plate-no{
  width: 15%;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border: 2px;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
}

.retrieve-info{
  padding:10px;
  border:none;
  background-color:#3F51B5;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width: auto;
}

.logout {
  padding:10px;
  border:none;
  background-color:#3F51B5;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width: auto;
}

textarea {
  width:50%;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height:250px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}